.tablestyle {
    margin-top: 10px;
}

.sidenavv {
    margin-top: 7rem;
    width: 20rem;
}


/* .mat-sidenav-content {
  margin-top: 1rem;
} */

.mat-drawer-container[fullscreen] {
    display: contents;
}

@media only screen and (max-width: 600px) {
    .sidenavv {
        width: 13rem;
    }
}

.customexpansion-header:hover {
    color: blue;
}

.expandedopen {
    color: blue;
}

.expandedclose {
    color: black;
}

.tooltip {
    z-index: 1;
    position: relative;
}

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
    margin-right: unset !important;
}

.disbalepanelbg {
    background-color: #E8EEF4;
}

@media only screen and (max-width: 600px) {
     ::ng-deep .p-datatable table {
        table-layout: unset !important;
    }
}